[header]
<section>
    <h2>Items</h2>
    <table>
        <thead>
            <tr>
                <th>Invoice</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            {{ for detail in [details] }}
            <tr>
                <td>
                    [detail:invoice:sequenceNumber]
                </td>
                <td>
                    [detail:description]
                </td>
            </tr>
            {{ endfor }}
        </tbody>
    </table>
</section>
<section>
    <h2>Appointment details</h2>
    <form class="pickupslots" action="/pickupslot" method="post">
        <input type="hidden" name="xsrf" value="[xsrf]">
        {{ for field in [appointment_form] }}
            <p>[field:description]</p>
            {{ if [field:errors] }}
                {{ for error in [field:errors] }}
                    <p class="error">[error]</p>
                {{ endfor }}
            {{ endif }}
            <div>
                [field:label]
                [field]
            </div>
        {{ endfor }}
        <input type="submit" value="Update">
    </form>
</section>

[footer]
