<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Client</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ for appointment in [appointments] }}
        <tr>
            <td><a href="/pickupslot/[slot:ID]/appointment/[appointment:ID]">[appointment:time]</a></td>
            <td><a href="/client/[appointment:client:clientNumber]">[appointment:client:name]</a></td>
            <td>
                <form action="/pickupslot/[slot:ID]/appointment/[appointment:ID]/delete" method="post">
                    <input type="hidden" name="xsrf" value="[xsrf]">
                    <input type="submit" value="Delete"
                        onclick="return confirm('Are you sure you want to delete this appointment?');">
                </form>
            </td>
        </tr>
        {{ endfor }}
    </tbody>
</table>
