{{ for error in [errors] }}
<p class="error">[error]</p>
{{ endfor }}

<form class="newinvoice" action="/invoices/new" method="post">
    <input type="hidden" name="xsrf" value="[xsrf]">
    {{ for field in [invoice_form] }}
    {{ if [field:name] != 'product' }}
    <p>[field:description]</p>
    {{ if [field:errors] }}
    {{ for error in [field:errors] }}
    <p class="error">[error]</p>
    {{ endfor }}
    {{ endif }}
    <div>
        [field:label]
        [field]
    </div>
    {{ endif }}
    {{ endfor }}
    <fieldset>
        <legend>Products / services</legend>
        <table class="products">
            <thead>
                <tr>
                    <th>Product</th>
                    <th class="number">Price</th>
                    <th class="number">VAT</th>
                    <th class="number">Quantity</th>
                    <th class="number">VAT amount</th>
                    <th class="number">Subtotal</th>
                    <th class="number">Stock</th>
                </tr>
            </thead>
            <tbody>
                {{ for product in [invoice_form:product] }}
                <tr class="product">
                    {{ if [product:errors] }}
                        {{ for error in [product:errors] }}
                            <p class="error">[error]</p>
                        {{ endfor }}
                    {{ endif }}
                    <td>
                        [product:name_field]
                        <!-- <select name="products" onFocus="this.dataset.prevval=this.value;" data-prevval=""
                            id="product_select">
                            <option value="">None</option>
                            {{ for product in [products] }}
                            <option value="[product:sku]">[product:name]</option>
                            {{ endfor }}
                        </select> -->
                    </td>
                    <td class="number">€&nbsp;<input type="number" min="0" name="invoice_prices" step="any" required
                            readonly></td>
                    <td class="number"><input type="number" min="0" name="invoice_vat" step="any" required readonly>%
                    </td>
                    <td class="number"><input type="number" min="0" name="quantity" step="any" value="[product:quantity:data]" required></td>

                    <td class="number"><output></output></td>
                    <td class="number"><output></output></td>
                    <td class="number"><output></output></td>
                </tr>
                {{ endfor }}
            </tbody>
            <tfoot>
                <tr class="vat">
                    <th colspan="4" class="number">VAT (<output></output>%)</th>
                    <td class="number"><output></output></td>
                </tr>
                <tr class="totalex">
                    <th colspan="4" class="number">Total</th>
                    <td class="number"><output></output></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="totalinc">
                    <th colspan="4" class="number">Total (inc. VAT)</th>
                    <td class="number"><output></output></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </fieldset>
    <input type="submit" value="Create invoice">
</form>
